
body{background-color: #DDD;
font-family: Arial, Helvetica, sans-serif;}

/*imag*/
.rounded{width:150px;
margin-top:10px;}
/*rank*/
.card{width:150px;
text-align:center;
margin-left: 700px;
margin:auto;
margin-top: 0px;
background:#DDD;
height:50px;
}


label{display:block !important;
margin-bottom:5px;
margin-top:3px;}
.container{border:double;
width:500px;}
.in{width:450px;}/*text input*/
.changepass{color:#444;
font-size:25px;
font-family: Arial, Helvetica, sans-serif;
height:100%;
margin-top:5px;}
.editchange{width:70px;
	margin-bottom:10px;
}/*edit*/


/*submit and cancel*/
.tocenter{ text-align:center; }/*to make buttons in center)*/
button:hover{color:white !important;}

.all{width:90px;
	outline:none!important;
	height: 45px;
	border-radius: 12px;
	margin-bottom:5px;
background-color:rgb(61,96,64)!important;
color:#BBB!important;
border-color:rgb(61,96,64)!important;}
.ch{margin-bottom:5px;
display:block;
background-color:rgb(61,96,64)!important;
color:#BBB!important;
border-color:rgb(61,96,64)!important;}/*for edit buttons*/
.chancancel{background-color:#BBB!important;
color:#333!important;
}
