body{
	background-color: #BBB;
	width: 100%;
	overflow-x: hidden;
}
.content{
	margin: 50px 50px 100px 50px;
	height: 500px;
	width: 80%;
	text-align: left;
}
/*image div*/
.product-image img{
	width: 100%;
	height: 100%;
}
.product-image{
	float: left;
	width: 500px;
	height: 500px;
	display: inline-block;
	box-shadow: 10px 10px 8px #333;
	clear:both;
}
.product-desc{
	width: 50%;
	height: 90%;
	padding: 0 30px;
	margin-top:20px;
	display: inline-block;
	text-align: left;
	font-size: 25px;
}
.product-title{
	display: inline-block;
}
.price{
	color:rgb(61,96,64);
	font-family: "Lucida Handwriting", Arial; /*second font is a backup*/ 
	font-weight: bold;
	font-size: 25px;
}
.categ{
	width: auto;
	height: auto;
	padding: 0px 10px 0px 10px;
	display: inline-block;
	text-align: center;
	border: 1px solid #333;
	border-radius: 50px;
}
.description{
	word-wrap:break-word;
}
.rec-section{
	color: #333;
	padding: auto;
	margin-left: 50px;
	border: 2px solid #333;
	border-radius: 40px;
	text-align: center;
	font-size: 40px;
	width: 600px;
	height: 70px;
}
.card2{
	padding: 20px 0;
	display: inline-block;
}
.cards-center{
	margin: 10px auto;
	text-align: center;
}
.card{
	border:1px solid #333;
}
.card-btn,.card-btn2{
	background-color: rgb(61,96,64);
	outline: none !important;
	text-align: center;
	display: inline-block;
	color: #BBB;
	width:45%;
	height: 60px;
	border: 1px solid #333;
	border-radius: 50px;
}
.add-btn{
	margin-top:25px;
	text-align: left;
}
.card-btn{
	margin-bottom: 10px; 
}
.card a{
	color:#BBB;
}
.card a:hover,.card-btn:hover{
	color: white;
}
.available,.items-no{
	display: inline-block;
}
.txt-center{
	text-align: left;
	width: 192px;
	height: 41px;
	border:1px solid #333;
}
.rate-btn{
	width: 42px;
	height: 40px;
	float: right;
	background-color: rgb(61,96,64);
	color: #BBB;
	clear: both;
}
.rate{
	width: 40px;
	display: inline-block;
	text-align: center;
}
#svg1{
	margin: auto;
	padding: auto;
	color: #BBB;
}
#svg1:hover{
	color: white;
}
/*User star rating*/
.hide {
    display: none;
}
.clear {
    float: none;
    clear: both;
}
.rating {
    width: 150px;
    height: 40px;
    float: left;
    display: inline-block;
    unicode-bidi: bidi-override;
    clear: both;
}
.rating > label {
	height: 50px;
    float: right;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: #333;
}
.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}
label{
	font-size: 25px;
}
.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\2605";  /*star*/
    font-size: 25px;
    left: 0;
    position: absolute;
    color: #FFD700;  /*yellow*/
}
/*page footer*/
.footer{
	width: 100%;
	height: 150px;
	background-color: #333;
	color: #BBB;
	text-align: center;
}
